@use '../../../assets/styles/partials/page-icons.scss';

:host {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secundary--purple--light);
}

.screen-container {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  margin: 2rem 0;
  background-color: var(--primary--white);

  .btn-group {
    height: 10%;
    padding: 1rem 0 0 1.5rem;
  }

  .btn {
    filter: brightness(0) saturate(100%) invert(55%) sepia(63%) saturate(793%)
      hue-rotate(215deg) brightness(94%) contrast(97%);
  }
}

.choice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;

  h3 {
    font-family: var(--font-family--header-1);
    font-size: var(--header-2);
    margin-top: 0;
  }

  div {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-between;

    div {
      width: 45%;
      height: 100%;
      max-width: 200px;
      max-height: 200px;
      border-radius: 20px;
      background-color: var(--tertiary--purple);

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
      }
    }
  }
}
