<div class="toolbar">
  <div class="row">
    <div class="form-group">
      <label for="audio">Audio:</label>
      <div *ngIf="!hasAudio">
        <input
          type="file"
          name="audio"
          accept=".mp3"
          [formControl]="audio"
          (change)="onAudioSelected($event)"
        />
        <button (click)="onAudioUpload()">Upload</button>
      </div>
      <div *ngIf="hasAudio">
        <span>{{ page!.audioFileName }}</span>
        <button (click)="resetAudioUpload()">Opniew kiezen</button>
      </div>
    </div>
    <div class="form-group">
      <label for="text-input">Tekst:</label>
      <textarea
        rows="4"
        cols="50"
        [formControl]="text"
        (keyup)="onTextChange()"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="animation-upload">Animatie:</label>
      <div>
        <input type="file" name="animation-upload" />
        <button>Upload</button>
      </div>
    </div>
    <div class="form-group">
      <label for="animation-position">Positie animatie:</label>
      <select name="animation-position">
        <option value="top-left">Links boven</option>
        <option value="top-right">Rechts boven</option>
        <option value="bottom-left">Links onder</option>
        <option value="bottom-right">Rechts onder</option>
      </select>
    </div>
  </div>
</div>
