.toolbar {
  display: flex;
  justify-content: space-around;

  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
  }
}

textarea {
  resize: none;
}

.form-group div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  input[type='file'] {
    border: none;
    padding: 0;
  }

  button {
    margin-top: 0.5rem;
    width: max-content;
    font-size: var(--font-size--header-3);
  }

  span {
    width: 45%;
    height: 1.3rem;
    overflow: hidden;
    font-family: var(--font-family--header-3);
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
}
