<app-navigation></app-navigation>
<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="content-wrapper">
  <div *ngIf="stories && stories.length !== 0" class="content">
    <div
      *ngFor="let story of stories"
      class="tile"
      (click)="navigateToStory(story._id)"
    >
      <div class="tile-image" [ngClass]="story.backGroundColor">
        <img [src]="story.thumbnail" />
      </div>
      <div class="tile-content" [ngClass]="'tertiary-' + story.backGroundColor">
        <div>{{ story.title }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="!stories || stories.length === 0" class="empty-results">
    <span>Geen verhalen gevonden.</span>
  </div>
</div>
