.screen-container {
  height: 100vh;
  width: 100%;
}

.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;

  .btn-back {
    background-image: url('../../../../assets/icons/arrow-back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 40px;
    height: 40px;
    margin: 70px 0 3rem;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 150px;

    h3 {
      font-family: var(--font-family--header-1);
      font-size: var(--header-3);
      margin: 0 0 1rem;
    }

    p {
      font-family: var(--font-family--header-3);
      margin: 0;
    }
  }

  .time-container {
    display: flex;
    align-items: center;
    font-family: var(--font-family--header-2);
    margin-bottom: 2rem;

    .clock {
      background-image: url('../../../../assets/icons/clock.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }
  }

  .btn {
    width: max-content;
    background-color: var(--primary--white);
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    font-size: var(--body-text);
    font-family: var(--font-family--header-1);
  }

  .thumbnail {
    width: 100%;
    height: 40%;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
