nav {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0;
  background-color: var(--tertiary--green);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;

  div {
    div {
      width: 100%;
      height: 32px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 5px;
    }

    span {
      color: var(--primary--green);
      font-size: 0.88rem;
      font-family: var(--font-family--header-1);
    }
  }

  .stories {
    background-image: url('../../../assets/icons/book.png');
  }

  .wardrobe {
    background-image: url('../../../assets/icons/wardrobe.png');
  }

  .profile {
    background-image: url('../../../assets/icons/user.png');
  }

  .active {
    color: var(--secundary--green--dark) !important;
  }
}
