@font-face {
  font-family: 'linotte-bold';
  src: url('../../fonts/linotte/Linotte-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'linotte-semiBold';
  src: url('../../fonts/linotte/Linotte-Semi-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'linotte-regular';
  src: url('../../fonts/linotte/Linotte-Regular.otf') format('opentype');
}
