<!-- <p>slider works!</p> -->

<div class="sidebar">
  <div class="page active">
    <a href="#">
      <img
        src="https://audiodoe.com/images/teaser-image.png"
        alt="teaser image"
      />
    </a>
  </div>
  <div class="page">
    <a href="#">
      <img
        src="https://audiodoe.com/images/teaser-image.png"
        alt="teaser image"
      />
    </a>
  </div>
  <div class="page">
    <a href="#">
      <img
        src="https://audiodoe.com/images/teaser-image.png"
        alt="teaser image"
      />
    </a>
  </div>
  <div class="page">
    <a href="#">
      <img
        src="https://audiodoe.com/images/teaser-image.png"
        alt="teaser image"
      />
    </a>
  </div>
  <div class="page">
    <a href="#">
      <img
        src="https://audiodoe.com/images/teaser-image.png"
        alt="teaser image"
      />
    </a>
  </div>
</div>
