.sidebar {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 160px;

  app-page-display,
  app-page-choice {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
    border: 2px solid transparent;

    ::ng-deep div div.text-container {
      padding: 0.5rem;
      height: calc(100% - 1rem);
      width: 35%;

      .btn {
        width: 22px;
        height: 22px;
        margin-right: 5px;
      }

      p {
        font-size: 0.3rem;
        margin: 0.7rem 0;
      }
    }
  }

  app-page-choice {
    background-color: var(--primary--purple);

    ::ng-deep div {
      .btn-group {
        padding: 0.5rem 0 0 0.5rem;

        .btn {
          width: 22px;
          height: 22px;
          margin-right: 5px;
        }
      }

      .choice-container {
        h3 {
          font-size: 0.5rem;
          margin: 1rem 0.5rem 0.5rem;
        }
      }
    }
  }
}

.active {
  border: 2px solid var(--primary--purple) !important;
}
