.blue {
  background-color: var(--secundary--blue--light);
}

.green {
  background-color: var(--secundary--green--light);
}

.orange {
  background-color: var(--secundary--orange--light);
}

.yellow {
  background-color: var(--secundary--yellow--light);
}

.red {
  background-color: var(--secundary--red--light);
}

.tertiary-blue {
  background-color: var(--tertiary--blue);
}

.tertiary-green {
  background-color: var(--tertiary--green);
}

.tertiary-orange {
  background-color: var(--tertiary--orange);
}

.tertiary-yellow {
  background-color: var(--tertiary--yellow);
}

.tertiary-red {
  background-color: var(--tertiary--red);
}
