<div class="toolbar">
  <div>
    <form [formGroup]="pageForm" (ngSubmit)="addPage()">
      <select
        formControlName="pageType"
        [ngClass]="{ 'is-invalid': submitted && f.pageType.errors }"
      >
        <option value="">Kies een type</option>
        <option *ngFor="let pageType of pageTypes" [value]="pageType">
          {{ pageTypeTranslations[pageType] }}
        </option>
      </select>
      <input
        type="text"
        formControlName="choicePath"
        [hidden]="f.pageType.value !== 'Choice'"
        [ngClass]="{ 'is-invalid': submitted && pageForm.errors }"
      />
      <button class="btn-add" [disabled]="isLoading || pages.length === 0">
        Toevoegen
      </button>
    </form>
  </div>
  <div>
    <button class="btn-upload" (click)="createPages()">
      Pagina's uploaden
    </button>
  </div>
</div>
