<div class="toolbar">
  <div>
    <form [formGroup]="pageForm" (ngSubmit)="addPage()">
      <select formControlName="pageType">
        <option value="">Kies een type</option>
        <option *ngFor="let pageType of pageTypes">
          {{ pageTypeTranslations[pageType] }}
        </option>
      </select>
      <button class="btn-add" [disabled]="pageForm.invalid">Toevoegen</button>
    </form>
  </div>
  <div>
    <button class="btn-upload" (click)="createPages()">
      Pagina's uploaden
    </button>
  </div>
</div>
